<footer style="background: #404040" class="footer">
  <div class="container-footer">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img
          src="https://gentor.com/es/img/logos/SVG_GENTOR.svg"
          class="img-fluid mt-md-2 my-3"
          width="200"
        />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <ul style="list-style: none; padding: 0">
          <li>
            <span class="d-inline-block" style="width: 5%;">
              <img
                src="https://gentor.com/es/img/footer/SVG_HORARIO.svg"
                class="img-fluid"
                width="15"
              />
            </span>
            <span class="d-inline-block p-2 text-white">
              Lunes a viernes, 8:30 am a 6:00 pm
            </span>
          </li>
          <li>
            <span class="d-inline-block" style="width: 3.8%; margin-left: 3px;">
              <img
                src="https://gentor.com/es/img/footer/SVG_TEL.svg"
                class="img-fluid"
                width="10"
              />
            </span>
            <span class="d-inline-block p-2 text-white"> 81 8525 5000 </span>
          </li>
          <li>
            <span class="d-inline-block text-center" style="width: 5%;">
              <img
                src="https://gentor.com/es/img/footer/SVG_MAIL.svg"
                class="img-fluid"
                width="15"
              />
            </span>
            <span class="d-inline-block p-2 text-white">
              contacto@gentor.com
            </span>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <iframe
          class="mt-md-0 mt-1"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14384.09698814095!2d-100.33415216979301!3d25.67049093885021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be214f3de1fd%3A0xfe8ff19848c02493!2sGentor%20Padre%20Mier!5e0!3m2!1ses-419!2smx!4v1630008831772!5m2!1ses-419!2smx"
          style="filter: grayscale(100%)"
          width="280"
          height="180"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div
        class="
          col-sm-12 col-md-6 col-lg-2
          d-flex
          justify-content-end
          align-items-end
        "
      >
        <a href="https://www.facebook.com/GentorMX" style="margin-right: 10px">
          <img
            src="https://gentor.com/es/img/footer/SVG_FBB.svg"
            class="img-fluid"
            width="10"
        /></a>
        <a href="https://www.linkedin.com/company/gentor/"
          ><img
            src="https://gentor.com/es/img/footer/SVG_LKB.svg"
            class="img-fluid"
            width="20"
        /></a>
      </div>
    </div>
    <div class="row mt-4">
      <img src="/img/FooterLogos.svg" alt="banner" />
    </div>
  </div>
</footer>
