{% extends 'healthcheck/layout.html' %} {% block content %}

<div
  class="d-flex justify-content-center align-items-center row"
  style="position: relative; height: 60vh; width: 100%"
>
  <div class="row">
    <div class="col-12 text-center">
      <strong>¡Gracias por tu tiempo!</strong> <br />
      Tus respuestas han sido capturadas correctamente. <br /><br />

      Tu salud y seguridad son nuestra prioridad. Recuerda que en caso de
      presentar síntomas o tener sospecha de contagio de COVID-19 es muy
      importante que te comuniques inmediatamente con el área de Capital Humano
      y con tu jefe directo.
    </div>
  </div>

</div>
{% endblock %}
