{% extends 'healthcheck/layout.html' %} {% block content %}

<div class="d-flex justify-content-center align-items-center row end">
  <div class="row">
    <div class="col-12 text-center">
      <h2>¡Gracias por tu tiempo!</h2>
      <br />
      Tus respuestas han sido capturadas correctamente. <br /><br />

      Tu salud y seguridad son nuestra prioridad. Recuerda que en caso de
      presentar síntomas o tener sospecha de contagio de COVID-19 es muy
      importante que te comuniques inmediatamente con el área de Capital Humano
      y con tu jefe directo.
    </div>
  </div>
</div>
{% endblock %}
