{% extends 'healthcheck/layout.html' %} {% block content %}

<div class="row">
  <h1 class="col-12 font-bold">HEALTHCHECK</h1>
  <div class="col-12">
    En <strong>Grupo Gentor</strong>, la seguridad de nuestros colaboradores es lo más importante.
    <br><br>
    Reiterando nuestro compromiso con la salud y seguridad de toda nuestra comunidad, ponemos a su disposición esta plataforma para tomar decisiones de contingencia a tiempo.
    <br><br>
    Tu constante colaboración es clave para hacer de este esfuerzo una solución de bienestar.
  </div>
  <!-- <div class="col-12">
    Cuidando de nuestra comunidad de
    <span class="font-bold">Grupo Gentor</span>
    <div class="ow">
      En Grupo Gentor, la seguridad de nuestros colaboradores es lo más importante. <br><br>
      Reiterando nuestro compromiso con la salud y seguridad de toda nuestra comunidad, ponemos a su disposición esta plataforma para tomar decisiones de contingencia a tiempo.
    </div>
    Tu constante colaboración es clave para hacer de este esfuerzo una solución de bienestar.
    <div class="ow">
      Estamos atravesando un tiempo difícil tratando de sobrellevar la pandemia
      del COVID-19.
      <br /><br />
      Reiterando nuestro compromiso con la salud y seguridad de toda nuestra
      comunidad de Grupo Gentor, ponemos a su disposición esta plataforma para
      reforzar nuestra interacción respecto a esta enfermedad.
    </div>

    HealthCheck nos ayuda a entender el impacto que las zonas más afectadas
    están teniendo en nuestras actividades diarias para poder tomar decisiones
    de contingencia a tiempo. <br /><br />

    Tu constante colaboración es clave para hacer de este esfuerzo una solución
    de bienestar. <br /><br />
  </div> -->
  <div class="col-12 d-flex justify-content-center mb-5">
    <a class="btn btn-gentor" href="/healthcheck/login">Iniciar</a>
  </div>
</div>

{% endblock %}
