{% extends 'healthcheck/layout.html' %} {% block content %}
<div class="row p-2" style="background: #fff">
  <div class="col-12" id="question-text">
    <strong
      >1. ¿Haz presentado alguno de los siguientes síntomas en los últimos 14
      días?</strong
    >
  </div>
</div>

<list-row
  onclick="selectOption(this,'yes')"
  id="list-row"
  list-id="q1_ans1_list"
  key="q1_ans1"
>
  Sí
</list-row>

<div class="container container-option" id="q1_ans1_list"></div>

<radius-row onclick="selectOption(this,'no')" id="no-option" key="q1_ans1"
  >No</radius-row
>

<div class="p-5 d-flex justify-content-center">
  <gentor-button onclick="next()">Siguiente</gentor-button>
</div>

<script src="/js/questions.js"></script>
<script src="/js/components.js"></script>
<script src="/js/q1.js"></script>

{% endblock %}
