{% extends 'healthcheck/layout.html' %} {% block content %}
<link rel="stylesheet" href="/css/checkbox.css" />

<head-title show-back="show">4. ¿Has viajado en los últimos 7 días?</head-title>

<list-row list-id="item-expanded-2" id="q4_ans1" onclick="expandedItem(this)">
  Sí o planeo viajar en los siguientes 14 días
</list-row>

<div class="row item-expanded collapsed" id="item-expanded-2">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <label for="start-date">Fecha de inicio del viaje</label>
      <input
        type="date"
        class="form-control"
        id="q4_ans1_1"
        aria-describedby="emailHelp"
        placeholder="Fecha de inicio del viaje"
      />
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <label for="end-date">Fecha de fin del viaje</label>
      <input
        type="date"
        class="form-control"
        id="q4_ans1_2"
        aria-describedby="emailHelp"
        placeholder="Fecha fin del viaje"
      />
    </div>
  </div>

  <div class="col-md-6 col-sm-12 mt-4">
    <div class="form-group">
      <label for="origen">Origen</label>
      <input
        type="text"
        class="form-control"
        id="q4_ans1_3"
        aria-describedby="emailHelp"
        placeholder="Origen"
      />
    </div>
  </div>
  <div class="col-md-6 col-sm-12 mt-4">
    <div class="form-group">
      <label for="dest">Destino</label>
      <input
        type="text"
        class="form-control"
        id="q4_ans1_4"
        aria-describedby="emailHelp"
        placeholder="Destino"
      />
    </div>
  </div>

  <div class="col-12 mt-4">
    <strong>Motivo de viaje</strong>
  </div>

  <div class="col-12 pl-2">
    <div
      class="row"
      onclick="setChecked(this,'q4_ans1_6')"
      check-id="q4_ans1_5"
      text-id="q4_ans1_5_text"
    >
      <div class="col-5" id="q4_ans1_5_text">Por Trabajo</div>
      <div class="col-1">
        <div class="checkbox" id="q4_ans1_5"></div>
      </div>
    </div>
  </div>

  <div class="col-12 pl-2">
    <div
      class="row"
      onclick="setChecked(this,'q4_ans1_5')"
      check-id="q4_ans1_6"
      text-id="q4_ans1_6_text"
    >
      <div class="col-5" id="q4_ans1_6_text">Recreativo/por placer</div>
      <div class="col-1">
        <div class="checkbox" id="q4_ans1_6"></div>
      </div>
    </div>
  </div>
</div>

<radius-row onclick="selectNO(this)" id="q4_ans2">No</radius-row>

<div class="p-5 d-flex justify-content-center">
  <gentor-button onclick="sendData()">Enviar</gentor-button>
</div>

<div class="loader justify-content-center align-items-center" id="loader">
  <div>
    <div class="loader-container d-flex justify-content-center">
      <div class="loader-item"></div>
      <div class="loader-item"></div>
      <div class="loader-item"></div>
      <div class="loader-item"></div>
    </div>
    <h2 class="text-white">Enviando datos ...</h2>
  </div>
</div>

<script src="/js/questions.js?t=<?=time()?>" type="text/javascript"></script>
<script src="/js/components.js?t=<?=time()?>" type="text/javascript"></script>
<script src="/js/q4.js"></script>
{% endblock %}
